[submodule "profiles/doomemacs"]
	path = profiles/doomemacs
	url = https://github.com/doomemacs/doomemacs
[submodule "profiles/spacemacs"]
	path = profiles/spacemacs
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "profiles/centaur"]
	path = profiles/centaur
	url = https://github.com/seagle0128/.emacs.d
